<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登录页面</title>
    <link rel="stylesheet" href="./layui/css/layui.css">
    <script src="layui/layui.all.js"></script>
    <!-- vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
        .mt100 {
            margin-top: 100px;
        }

        .tc {
            text-align: center;
        }
    </style>
</head>

<body>
    <h3 class="layui-bg-blue tc">登录页</h3>
    <div class="layui-container mt100" id="app">
        <div class="layui-row">
            <div class="layui-col-xs4 layui-col-xs-offset4">
                <div class="layui-form-item">
                    <label class="layui-form-label">用户名</label>
                    <div class="layui-input-block">
                        <input type="text" name="title" v-model="userInfo.username" placeholder="请输入用户名"
                            autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-xs4 layui-col-xs-offset4">
                <div class="layui-form-item">
                    <label class="layui-form-label">密码</label>
                    <div class="layui-input-block">
                        <input type="text" name="title" v-model="userInfo.password" keyup.enter="log()"
                            placeholder="请输入密码" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-xs4 layui-col-xs-offset4" style="text-align:right;">
                <a href="reg.html">没有账号？立即注册</a>
            </div>

        </div>
        <div class="layui-row">
            <div class="layui-col-xs4 layui-col-xs-offset4" style="text-align:right;">
                <button class="layui-btn layui-btn-danger layui-btn-fluid" @click="log()">立即登录</button>
            </div>
        </div>
        <div class="layui-row">

        </div>
    </div>
</body>
<script>
    let vm = new Vue({
        el: "#app",
        data: {
            userInfo: {
                username: "",
                password: ""
            }
        },
        methods: {
            log() {
                if (Object.values(this.userInfo).includes("")) {
                    layer.msg('请输入完整登录信息');
                    return;
                }
                // 拿出本地数据
                if (localStorage.getItem('userArrData')) {
                    let userArrData = localStorage.getItem('userArrData');     //还是一个json字符串
                    userArrData = JSON.parse(userArrData);      //装换成数组
                    let state=false;   //假设没有该用户
                    // 循环本地存储的数据
                    for (let i = 0; i < userArrData.length; i++) {
                        if (userArrData[i].username == this.userInfo.username) {  //找到该用户了
                            if (userArrData[i].password==this.userInfo.password) {
                                // 登录成功
                                layer.msg('登录成功');
                                setTimeout(()=>{
                                    location.href="./admin.html"
                                },300)
                               
                            } else {
                                // 密码错误
                                layer.msg('密码错误');
                            }
                            break;
                            state=true;   //有这个人
                        }
                    }
                    if(!state){
                        layer.msg('不存在该用户信息，请注册')
                    }
                } else {
                    layer.msg('不存在该用户信息，请注册')
                }
            }
        }
    })
</script>

</html>