<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>注册页面</title>
    <link rel="stylesheet" href="./layui/css/layui.css">
    <script src="layui/layui.all.js"></script>
    <!-- vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
        .mt100 {
            margin-top: 100px;
        }

        .tc {
            text-align: center;
        }
    </style>
</head>

<body>
    <h3 class="layui-bg-blue tc">注册页</h3>
    <div class="layui-container mt100" id="app">

        <div class="layui-row">
            <div class="layui-col-xs4 layui-col-xs-offset4">
                <div class="layui-form-item">
                    <label class="layui-form-label">用户名</label>
                    <div class="layui-input-block">
                        <input type="text" name="title" v-model="userInfo.username" placeholder="请输入用户名"
                            autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-xs4 layui-col-xs-offset4">
                <div class="layui-form-item">
                    <label class="layui-form-label">密码</label>
                    <div class="layui-input-block">
                        <input type="text" name="title" v-model="userInfo.password" placeholder="请输入密码"
                            autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-xs4 layui-col-xs-offset4">
                <div class="layui-form-item">
                    <label class="layui-form-label">确认密码</label>
                    <div class="layui-input-block">
                        <input type="text" name="title" v-model="userInfo.password2" @keyup.enter="reg"
                            placeholder="请输入确认密码" autocomplete="off" class="layui-input">
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-row">
            <div class="layui-col-xs4 layui-col-xs-offset4" style="text-align:right;">
                <a href="login.html">已有账号？立即登录</a>
            </div>

        </div>
        <div class="layui-row">
            <div class="layui-col-xs4 layui-col-xs-offset4" style="text-align:right;">
                <button class="layui-btn layui-btn-warm layui-btn-fluid" @click="reg()">立即注册</button>
            </div>
        </div>
        <div class="layui-row">

        </div>
    </div>
</body>
<script>
    // keyup.enter按键事件。按键时enter键，放在最后一个输入框上面，输入完成后直接按enter键
    // 注册一个账号，存储在本地存储里面localstorage
    let vm = new Vue({
        el: "#app",
        data: {
            userInfo: {
                username: "",
                password: "",
                password2: ""
            }
        },
        methods: {
            reg() {
                // 通过Object.values获取对象所有的值，通过includes判断是否有空值，不为空
                console.log(Object.values(this.userInfo));
                if (Object.values(this.userInfo).includes("")) {
                    // layui的js弹出层
                    layer.msg('请输入完整注册信息');
                    return;
                }
                // 密码不一致判断：不一致直接返回，一致下一步操作
                if (this.userInfo.password != this.userInfo.password2) {
                    layer.msg('两次输入密码不一致');
                    return;
                }
                // 其他格式验证

                // 对象的拷贝
                let userdata = JSON.stringify(this.userInfo);
                userdata = JSON.parse(userdata);
                // 删除对象中的某个属性 delete  delete  对象.属性名
                delete userdata.password2;


                // 将用户信息存入到本地存储中
                console.log(userdata);
                //   判断本地存储中有没有userArrData数据
                if (localStorage.getItem('userArrData')) {   //本地有数据
                    // 将原来的数据拿出来，将这次的数据放进去，然后在将数据放在本地存储
                    let userArrData = localStorage.getItem('userArrData');   //现在还是一个json字符串
                    userArrData = JSON.parse(userArrData);   //变成数组操作

                    // 判断用户名是否存在冲突
                    let state = true;
                    for (let i = 0; i < userArrData.length; i++) {
                        if (userArrData[i].username == userdata.username) {   //用户名相同
                            state = false;    //不行，不能注册，存在相同
                            break;//终止循环

                        }
                    }
                    if (state) {   //没有同名
                        userArrData.push(userdata);   //将这一次数据放进去
                        localStorage.setItem('userArrData', JSON.stringify(userArrData));
                        layer.alert('注册成功了', { icon: 1 });
                        setTimeout(() => {
                            location.href = "./login.html"
                        }, 300)
                    } else {    //存在同名
                        alert('用户名已经注册，请更换')

                    }


                } else {   //本地没有数据
                    let userArrData = [userdata]
                    //    将数据存入到本地存储中了
                    localStorage.setItem('userArrData', JSON.stringify(userArrData))
                    layer.alert('注册成功了', { icon: 1 });
                   
                }
                // 希望将用户信息存储成一个数组[{用户信息1},{用户信息2}]


            }
        }
    })
</script>

</html>